@model Info.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-xs-4 back-page">
        <a class="back-page_link" asp-action="Index"></a>
    </div>
    <div class="col-xs-4 col-centered text-center content not-hover">
        <div class="row">
            <img class="logo" src="@Html.DisplayFor(model => model.App.Icon)" />
        </div>
        <article class="row">
            <header class="detail-header clearfix">
                <div class="detail-title">@Html.DisplayFor(model => model.Title)</div>
                <div class="detail-date">@Html.DisplayFor(model => model.ReleaseDate)</div>
            </header>
            <div class="detail-description clearfix">@Html.DisplayFor(model => model.Description)</div>
            <div class="detail-content">@Html.DisplayFor(model => model.Content)</div>
            <footer class="detail-footer">
                <div class="detail-footer_wrapper clearfix">
                    <div class="detail-social">
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet?text=@Html.DisplayFor(model => model.Title) @Context.Request.Host@Context.Request.Path">
                            Tweet
                        </a>
                        <script type="text/javascript">
                        <!--
                            document.write(VK.Share.button(false, { type: "custom", text: "<img src=\"https://vk.com/images/share_32.png\" width=\"20\" height=\"20\" />", url: window.location.href }));
                        --></script>

                    </div>
                    <div class="detail-link">
                        <a href="@Html.DisplayFor(model => model.App.UrlMarket)">Get App</a>
                    </div>
                </div>
            </footer>
        </article>
    </div>
</div>